.sass-cache
.sass-cache/*
wp-content/themes/freeview/.sass-cache/*
wp-content/themes/freeview/.sass-cache
debug.log
wp-content/cache/*
wp-content/uploads/*
wp-content/themes/freeview/css/*.css

# EM's additions to handle CodeKit and OSX files.
config.rb
.DS_Store
codekit-config.json
*-ck.js