
# BEGIN Better WP Security
Options -Indexes

<files .htaccess>
Order allow,deny
Deny from all
</files>

<files readme.html>
Order allow,deny
Deny from all
</files>

<files readme.txt>
Order allow,deny
Deny from all
</files>

<files install.php>
Order allow,deny
Deny from all
</files>

<files wp-config.php>
Order allow,deny
Deny from all
</files>

<IfModule mod_rewrite.c>
RewriteEngine On

RewriteRule ^wp-admin/includes/ - [F,L]
RewriteRule !^wp-includes/ - [S=3]
RewriteCond %{SCRIPT_FILENAME} !^(.*)wp-includes/ms-files.php
RewriteRule ^wp-includes/[^/]+\.php$ - [F,L]
RewriteRule ^wp-includes/js/tinymce/langs/.+\.php - [F,L]
RewriteRule ^wp-includes/theme-compat/ - [F,L]

RewriteCond %{REQUEST_METHOD} ^(TRACE|DELETE|TRACK) [NC]
RewriteRule ^(.*)$ - [F,L]

RewriteCond %{REQUEST_METHOD} POST
RewriteCond %{REQUEST_URI} ^(.*)wp-comments-post\.php*
RewriteCond %{HTTP_REFERER} !^(.*)co.uk.* 
RewriteCond %{HTTP_REFERER} !^http://jetpack\.wordpress\.com/jetpack-comment/ [OR]
RewriteCond %{HTTP_USER_AGENT} ^$
RewriteRule ^(.*)$ - [F,L]

RewriteCond %{QUERY_STRING} \.\.\/ [NC,OR]
RewriteCond %{QUERY_STRING} ^.*\.(bash|git|hg|log|svn|swp|cvs) [NC,OR]
RewriteCond %{QUERY_STRING} etc/passwd [NC,OR]
RewriteCond %{QUERY_STRING} boot\.ini [NC,OR]
RewriteCond %{QUERY_STRING} ftp\:  [NC,OR]
RewriteCond %{QUERY_STRING} http\:  [NC,OR]
RewriteCond %{QUERY_STRING} https\:  [NC,OR]
RewriteCond %{QUERY_STRING} (\<|%3C).*script.*(\>|%3E) [NC,OR]
RewriteCond %{QUERY_STRING} mosConfig_[a-zA-Z_]{1,21}(=|%3D) [NC,OR]
RewriteCond %{QUERY_STRING} base64_encode.*\(.*\) [NC,OR]
RewriteCond %{QUERY_STRING} ^.*(\[|\]|\(|\)|<|>|ê|"|;|\?|\*|=$).* [NC,OR]
RewriteCond %{QUERY_STRING} ^.*(&#x22;|&#x27;|&#x3C;|&#x3E;|&#x5C;|&#x7B;|&#x7C;).* [NC,OR]
RewriteCond %{QUERY_STRING} ^.*(%24&x).* [NC,OR]
RewriteCond %{QUERY_STRING} ^.*(%0|%A|%B|%C|%D|%E|%F|127\.0).* [NC,OR]
RewriteCond %{QUERY_STRING} ^.*(globals|encode|localhost|loopback).* [NC,OR]
RewriteCond %{QUERY_STRING} ^.*(request|select|concat|insert|union|declare).* [NC]
RewriteCond %{QUERY_STRING} !^loggedout=true
RewriteCond %{QUERY_STRING} !^action=rp
RewriteCond %{HTTP_COOKIE} !^.*wordpress_logged_in_.*$
RewriteCond %{HTTP_REFERER} !^http://maps\.googleapis\.com(.*)$
RewriteRule ^(.*)$ - [F,L]

RewriteRule ^fr3v_login/?$ /wp-login.php?amu1ipbekuepgkjxvw3gi [R,L]

RewriteCond %{HTTP_COOKIE} !^.*wordpress_logged_in_.*$
RewriteRule ^fr3v_admin/?$ /wp-login.php?amu1ipbekuepgkjxvw3gi&redirect_to=/wp-admin/ [R,L]

RewriteRule ^fr3v_admin/?$ /wp-admin/?amu1ipbekuepgkjxvw3gi [R,L]

RewriteRule ^fr3v_register/?$ /wp-login.php?amu1ipbekuepgkjxvw3gi&action=register [R,L]

RewriteCond %{SCRIPT_FILENAME} !^(.*)admin-ajax\.php
RewriteCond %{HTTP_REFERER} !^(.*)/wp-admin
RewriteCond %{HTTP_REFERER} !^(.*)/wp-login\.php
RewriteCond %{HTTP_REFERER} !^(.*)/fr3v_login
RewriteCond %{HTTP_REFERER} !^(.*)/fr3v_admin
RewriteCond %{HTTP_REFERER} !^(.*)/fr3v_register
RewriteCond %{QUERY_STRING} !^amu1ipbekuepgkjxvw3gi
RewriteCond %{QUERY_STRING} !^action=logout
RewriteCond %{QUERY_STRING} !^action=rp
RewriteCond %{QUERY_STRING} !^action=register
RewriteCond %{QUERY_STRING} !^action=postpass
RewriteCond %{HTTP_COOKIE} !^.*wordpress_logged_in_.*$
RewriteRule ^.*wp-admin/?|^.*wp-login\.php /not_found [R,L]

RewriteCond %{QUERY_STRING} ^loggedout=true
RewriteRule ^.*$ /wp-login.php?amu1ipbekuepgkjxvw3gi [R,L]
</IfModule>
# END Better WP Security

# FREEVIEW WEBSITE

# redirect tv guide
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^TV-Guide/Search(.*)$ whats-on/tv-guide$1 [R=301,L]
RewriteRule ^TV-Guide-text/?$ whats-on/tv-guide?Text=true [R=301,L]
RewriteRule ^TV-Guide/?$ whats-on/tv-guide [R=301,L]

RewriteRule ^marketing/?$ http://marketing.freeview.co.uk/Marketing [NC,R=301,L]

RewriteRule ^Freeview-Plus/?$ what-we-offer/freeview-plus [R=301,L]
RewriteRule ^Freeview-plus/?$ what-we-offer/freeview-plus [R=301,L]
RewriteRule ^HD/?$ what-we-offer/freeview-hd [R=301,L]
RewriteRule ^hd/?$ what-we-offer/freeview-hd [R=301,L]
RewriteRule ^freeview/TV-Guide/?$ whats-on/tv-guide [R=301,L]
RewriteRule ^Products-Landing/?$ get-freeview#freeview-box-with-tv [NE,R=301,L]
RewriteRule ^HD/Products/Freeview-HD-Box/(product)/hd/?$ get-freeview#freeview-box-for-tv [NE,R=301,L]
RewriteRule ^Services/Freeview2/?$ what-we-offer [NE,R=301,L]
RewriteRule ^ondemand/?$ what-we-offer/smart-tv [NE,R=301,L]
RewriteRule ^What-to-watch/?$ whats-on/this-week [NE,R=301,L]
RewriteRule ^Channels/Entertainment/Pick-TV/?$ whats-on/channels/categories/entertainment/pick-tv [NE,R=301,L]
RewriteRule ^SmartTV/?$ what-we-offer/smart-tv [NE,R=301,L]
RewriteRule ^retune/?$ when-to-re-tune [NE,R=301,L]
RewriteRule ^Channels/Entertainment/Channel-5-1/?$ whats-on/channels/categories/entertainment/channel-51 [NE,R=301,L]
RewriteRule ^Offers/?$ get-freeview#freeview-box-with-tv [NE,R=301,L]
RewriteRule ^Top-Up-TV/?$ get-freeview [R=301,L]
RewriteRule ^Channels/?$ whats-on/channels [R=301,L]
RewriteRule ^freeview/Channels/?$ whats-on/channels [R=301,L]
RewriteRule ^set-up/?$ articles/faq/living-with-freeview/setting-up [R=301,L]
RewriteRule ^Help/?$ help [R=301,L]
RewriteRule ^HD/Products/?$ get-freeview#freeview-box-with-tv [NE,R=301,L]
RewriteRule ^Channels/Entertainment/Film4/?$ whats-on/channels/categories/entertainment/film4 [NE,R=301,L]
RewriteRule ^HD/Programmes/?$ whats-on/tv-guide [NE,R=301,L]
RewriteRule ^Help/Aerials-and-Reception/Aerials-and-reception-explained/?$ articles/faq/living-with-freeview/aerials-and-reception [NE,R=301,L]
RewriteRule ^Channels/Entertainment/ITV2-1/?$ whats-on/channels/categories/entertainment/itv21 [NE,R=301,L]
RewriteRule ^What-s-new/What-s-new/?$ news-and-features [NE,R=301,L]
RewriteRule ^Channels/Entertainment/Channel-4-1/?$ whats-on/channels/categories/entertainment/channel-41 [NE,R=301,L]
RewriteRule ^Freeview-Plus/Freeview-Plus-Products/Freeview-HD/?$ get-freeview#freeview-box [NE,R=301,L]
RewriteRule ^freeview/HD/Products/?$ get-freeview [NE,R=301,L]
</IfModule>

<Files wp-config.php>
order allow,deny
deny from all
</Files>

# directory browsing
Options All -Indexes

<Files ~ "^.*\.([Hh][Tt][Aa])">
order allow,deny
deny from all
satisfy all
</Files>

# protect from sql injection
Options +FollowSymLinks
RewriteEngine On
RewriteCond %{QUERY_STRING} (\<|%3C).*script.*(\>|%3E) [NC,OR]
RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
RewriteRule ^(.*)$ index.php [F,L]

# END FREEVIEW WEBSITE

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
